<form id="booking-form">
  <input type="hidden" id="booking-room-id" disabled>
  <div class="my-2">
    <div class="input-group">
      <span class="input-group-text">
        หมายเลขห้อง
      </span>
      <input type="text" class="form-control" id="booking-room-number" disabled>
    </div>
  </div>
  <div class="row">
    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <div class="my-2">
        <label class="form-label">ชื่อ</label>
        <div class="input-group">
          <span class="input-group-text">
            <i class="fa-solid fa-address-card"></i>
          </span>
          <input type="text" class="form-control" id="booking-fname" placeholder="ป้อนชื่อ">
        </div>
        <p class="empty-validate" id="validate-booking-fname"></p>
      </div>
    </div>
    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <div class="my-2">
        <label class="form-label">นามสกุล</label>
        <div class="input-group">
          <span class="input-group-text">
            <i class="fa-solid fa-signature"></i>
          </span>
          <input type="text" class="form-control" id="booking-lname" placeholder="ป้อนนามสกุล">
        </div>
        <p class="empty-validate" id="validate-booking-lname"></p>
      </div>
    </div>
    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">

      <div class="my-2">
        <label class="form-label">เบอร์ติดต่อ</label>
        <div class="input-group">
          <span class="input-group-text">
            <i class="fa-solid fa-phone-volume"></i>
          </span>
          <input type="text" class="form-control" id="booking-phone" placeholder="ป้อนเบอร์ติดต่อ">
        </div>
        <p class="empty-validate" id="validate-booking-phone"></p>
      </div>
    </div>
  </div>
  <div class="my-2">
    <span class="form-label">
      เข้าพักได้สูงสุด
    </span>
    <input type="number" class="form-control" id="booking-max-people" disabled>
  </div>
  <div class="my-2">
    <span class="form-label">
      ราคาจำนวนเข้าพักเกิน ต่อคน
    </span>
    <input type="text" class="form-control" id="booking-price-over-people" disabled>
  </div>
  <table class="table table-striped">
    <thead>
      <tr class="align-center">
        <th>วันพัก</th>
        <th class="text-end">ราคาเต็ม</th>
        <th class="text-end">
          ราคามัดจำ 70%
        </th>
      </tr>
    </thead>
    <tbody id="table-booking"></tbody>
  </table>

  <div class="check-group">
    <div class="check-input-group inline-flex">
      <input type="radio" class="check-input" name="booking-payment" value="cash-payment" id="booking-cash-payment">
      <label class="check-label" for="booking-cash-payment">จ่ายเงินสด</label>
    </div>
    <div class="check-input-group inline-flex">
      <input type="radio" class="check-input" name="booking-payment" value="bank-transfer" id="booking-bank-transfer">
      <label for="booking-bank-transfer" class="check-label">ชำระผ่านธนาคาร</label>
    </div>
  </div>
  <p class="empty-validate" id="validate-booking-payment"></p>
  <div class="row">
    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
      <div class="my-2">
        <label class="form-label">ราคา</label>
        <div class="input-group">
          <span class="input-group-text">
            <i class="fa-solid fa-tags"></i>
          </span>
          <input type="number" class="form-control" onchange="bookingTotal()" id="booking-price" disabled placeholder="ราคา">
        </div>
        <p class="empty-validate" id="validate-booking-price"></p>
      </div>
    </div>
    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
      <div class="my-2">
        <label class="form-label">จำนวนวันพัก</label>
        <div class="input-group">
          <span class="input-group-text">
            <i class="fa-solid fa-arrow-down-wide-short"></i>
          </span>
          <input type="number" class="form-control" id="booking-times-count" disabled placeholder="จำนวนวันพัก">
        </div>
        <p class="empty-validate" id="validate-booking-timescount"></p>
      </div>
    </div>
    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
      <div class="my-2">
        <label class="form-label">หน่วย</label>
        <div class="input-group">
          <span class="input-group-text">
            <i class="fa-solid fa-clock"></i>
          </span>
          <select class="form-select" id="booking-unit-times" disabled>
            <option value="" selected>หน่วยเวลา</option>
            <option value="minutes">นาที</option>
            <option value="hours">ชั่วโมง</option>
            <option value="days">วัน</option>
            <option value="weeks">สัปดาห์</option>
            <option value="months">เดือน</option>
            <option value="years">ปี</option>
          </select>
        </div>
        <p class="empty-validate" id="validate-booking-unittimes"></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <div class="my-2">
        <label class="form-label">จำนวนคนที่พัก</label>
        <div class="input-group">
          <span class="input-group-text">
            <i class="fa-solid fa-ruler"></i>
          </span>
          <input type="number" min="1" onkeyup="bookingTotal()" onchange="bookingTotal()" class="form-control" id="booking-person-count" placeholder="ป้อนจำนวนวคนเข้าพัก">
        </div>
        <p class="empty-validate" id="validate-booking-personcount"></p>
      </div>

    </div>
    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <div class="my-2">
        <label class="form-label">จ่ายเงิน</label>
        <div class="input-group">
          <input type="number" min="1" class="form-control" onkeyup="inputNumber(event)" id="booking-paid" placeholder="ป้อนยอดชำระ">
        </div>
        <p class="empty-validate" id="validate-booking-paid"></p>
      </div>
    </div>
  </div>

  <h5 class="my-1 form-label">วันเข้าพัก</h5>
  <div class="row my-2">
    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <div class="form-floating my-2">
        <input type="date" class="form-control" id="booking-checkin-date" onabort="bookingCheckout()">
        <label for="floatingInput">วันที่</label>
      </div>
    </div>
    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <div class="form-floating my-2">
        <input type="time" class="form-control" id="booking-checkin-times" onchange="bookingCheckout()">
        <label for="floatingInput">เวลา</label>
      </div>
    </div>
  </div>
  <p class="empty-validate" id="validate-booking-checkin"></p>

  <h5 class="my-1 form-label">วันเข้าพัก</h5>
  <div class="row my-2">
    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <div class="form-floating my-2">
        <input type="date" id="booking-checkout-date" class="form-control">
        <label for="floatingInput">วันที่</label>
      </div>
    </div>
    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <div class="form-floating my-2">
        <input type="time" id="booking-checkout-times" class="form-control">
        <label for="floatingInput">เวลา</label>
      </div>
    </div>
  </div>
  <p class="empty-validate" id="validate-booking-checkout"></p>
</form>
