<div class="modal fade" id="room-detail-modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-number-r bg-violet" id="room-title"></h5>
        <button type="button" class="ac-btn ac-close-modal" data-bs-dismiss="modal">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>
      <div class="modal-body">
        <table class="table">
          <tbody id="table-detail">
            <tr>
              <th>หมายเลขห้อง</th>
              <td class="text-detail"></td>
            </tr>
            <tr>
              <th>ประเภทห้อง</th>
              <td class="text-detail"></td>
            </tr>
            <tr>
              <th>ประเภทเตียง</th>
              <td class="text-detail"></td>
            </tr>
            <tr>
              <th>วิวห้อง</th>
              <td class="text-detail"></td>
            </tr>
            <tr>
              <th>ตัวเลือกเพิ่มเติม</th>
              <td class="text-detail"></td>
            </tr>
          </tbody>
        </table>
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="text-center">รายการ</th>
              <th>เวลาพัก</th>
              <th class="text-end">ราคา</th>
            </tr>
          </thead>
          <tbody id="table-price"></tbody>
        </table>
        <div id="img-example-detail" class="d-flex align-items-center justify-content-center flex-wrap"></div>
      </div>
    </div>
  </div>
</div>