<div>
  <h6 class="fw-bold form-label">
    ประเภทเตียง
  </h6>
  <div class="row">
    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <div class="check-input-group">
        <input class="check-input" value="king-sized" id="king-sized" type="radio" name="bed-type" />
        <label class="check-label" for="king-sized"> King Sized </label>
        <button class="bedtype-viewinfo ac-btn text-darkgray bg-none" data-bedtype="king-sized">
          <i class="fa-solid fa-reply-all"></i>
        </button>
      </div>
    </div>
    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <div class="check-input-group">
        <input class="check-input" value="queen-sized" id="queen-sized" type="radio" name="bed-type" />
        <label class="check-label" for="queen-sized"> Queen Sized </label>
        <button class="bedtype-viewinfo ac-btn text-darkgray bg-none" data-bedtype="queen-sized">
          <i class="fa-solid fa-reply-all"></i>
        </button>
      </div>
    </div>
    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <div class="check-input-group">
        <input class="check-input" value="single-bed" id="single-bed" type="radio" name="bed-type" />
        <label class="check-label" for="single-bed"> Single </label>
        <button class="bedtype-viewinfo ac-btn text-darkgray bg-none" data-bedtype="single-bed">
          <i class="fa-solid fa-reply-all"></i>
        </button>
      </div>
    </div>
    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <div class="check-input-group">
        <input class="check-input" value="twin-bed" id="twin-bed" type="radio" name="bed-type" />
        <label class="check-label" for="twin-bed"> Twin </label>
        <button class="bedtype-viewinfo ac-btn text-darkgray bg-none" data-bedtype="twin-bed">
          <i class="fa-solid fa-reply-all"></i>
        </button>
      </div>
    </div>

    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <div class="check-input-group">
        <input class="check-input" value="double-bed" id="double-bed" type="radio" name="bed-type" />
        <label class="check-label" for="double-bed"> Double </label>
        <button class="bedtype-viewinfo ac-btn text-darkgray bg-none" data-bedtype="double-bed">
          <i class="fa-solid fa-reply-all"></i>
        </button>
      </div>
    </div>
    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">

      <div class="check-input-group">
        <input class="check-input" value="triple-bed" id="triple-bed" type="radio" name="bed-type" />
        <label class="check-label" for="triple-bed"> Triple </label>
        <button class="bedtype-viewinfo ac-btn text-darkgray bg-none" data-bedtype="triple-bed">
          <i class="fa-solid fa-reply-all"></i>
        </button>
      </div>

    </div>
    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">

      <div class="check-input-group">
        <input class="check-input" type="radio" value="quad" name="bed-type" id="quad-bed" />
        <label class="check-label" for="quad-bed"> Quad </label>
        <button class="bedtype-viewinfo ac-btn text-darkgray bg-none" data-bedtype="quad-bed">
          <i class="fa-solid fa-reply-all"></i>
        </button>
      </div>
    </div>
    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <div class="check-input-group">
        <input class="check-input" type="radio" value="bedtype-no-specify" name="bed-type" id="bedtype-no-specify" />
        <label class="check-label" for="bedtype-no-specify">
          ไม่ระบุ
        </label>
      </div>
    </div>
  </div>


  <p class="empty-validate" id="validate-bedtype"></p>
</div>