<div>
  <h6 class="fw-bold form-label">
    ประเภทห้อง
  </h6>
  <div class="row">
    <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <div class="check-input-group">
        <input class="check-input" value="standard" id="standard" type="radio" name="room-type" />
        <label class="check-label" for="standard"> Standard </label>
        <button class="roomtype-viewinfo ac-btn bg-none text-darkgray" data-roomtype="standard">
          <i class="fa-solid fa-reply-all"></i>
        </button>
      </div>
    </div>
    <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <div class="check-input-group">
        <input class="check-input" value="superior" type="radio" name="room-type" id="superior" />
        <label class="check-label" for="superior"> Superior </label>
        <button class="roomtype-viewinfo ac-btn bg-none text-darkgray" data-roomtype="superior">
          <i class="fa-solid fa-reply-all"></i>
        </button>
      </div>
    </div>
    <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <div class="check-input-group">
        <input class="check-input" type="radio" value="deluxe" name="room-type" id="deluxe" />
        <label class="check-label" for="deluxe"> Deluxe </label>
        <button class="roomtype-viewinfo ac-btn bg-none text-darkgray" data-roomtype="deluxe">
          <i class="fa-solid fa-reply-all"></i>
        </button>
      </div>
    </div>
    <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <div class="check-input-group">
        <input class="check-input" type="radio" value="suite" name="room-type" id="suite" />
        <label class="check-label" for="suite"> Suite </label>
        <button class="roomtype-viewinfo ac-btn bg-none text-darkgray" data-roomtype="suite">
          <i class="fa-solid fa-reply-all"></i>
        </button>
      </div>
    </div>
    <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <div class="check-input-group">
        <input class="check-input" type="radio" value="family" name="room-type" id="family" />
        <label class="check-label" for="family"> Family </label>
        <button class="roomtype-viewinfo ac-btn bg-none text-darkgray" data-roomtype="family">
          <i class="fa-solid fa-reply-all"></i>
        </button>
      </div>
    </div>
    <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <div class="check-input-group">
        <input class="check-input" type="radio" value="studio" name="room-type" id="studio" />
        <label class="check-label" for="studio"> Studio </label>
        <button class="roomtype-viewinfo ac-btn bg-none text-darkgray" data-roomtype="studio">
          <i class="fa-solid fa-reply-all"></i>
        </button>
      </div>
    </div>
    <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <div class="check-input-group">
        <input class="check-input" type="radio" value="connecting" name="room-type" id="connecting" />
        <label class="check-label" for="connecting"> Connecting </label>
        <button class="roomtype-viewinfo ac-btn bg-none text-darkgray" data-roomtype="connecting">
          <i class="fa-solid fa-reply-all"></i>
        </button>
      </div>
    </div>
    <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <div class="check-input-group">
        <input class="check-input" type="radio" value="duplex" name="room-type" id="duplex" />
        <label class="check-label" for="duplex"> Duplex </label>
        <button class="roomtype-viewinfo ac-btn bg-none text-darkgray" data-roomtype="duplex">
          <i class="fa-solid fa-reply-all"></i>
        </button>
      </div>
    </div>
    <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <div class="check-input-group">
        <input class="check-input" type="radio" value="villa" name="room-type" id="villa" />
        <label class="check-label" for="villa"> Villa </label>
        <button class="roomtype-viewinfo ac-btn bg-none text-darkgray" data-roomtype="villa">
          <i class="fa-solid fa-reply-all"></i>
        </button>
      </div>
    </div>
    <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <div class="check-input-group">
        <input class="check-input" type="radio" value="adjoining" name="room-type" id="adjoining" />
        <label class="check-label" for="adjoining"> Adjoining </label>
        <button class="roomtype-viewinfo ac-btn bg-none text-darkgray" data-roomtype="adjoining">
          <i class="fa-solid fa-reply-all"></i>
        </button>
      </div>
    </div>
    <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <div class="check-input-group">
        <input class="check-input" type="radio" value="cabana" name="room-type" id="cabana" />
        <label class="check-label" for="cabana"> Cabana </label>
        <button class="roomtype-viewinfo ac-btn bg-none text-darkgray" data-roomtype="cabana">
          <i class="fa-solid fa-reply-all"></i>
        </button>
      </div>
    </div>
    <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <div class="check-input-group">
        <input class="check-input" type="radio" value="honeymoon" name="room-type" id="honeymoon" />
        <label class="check-label" for="honeymoon"> Honeymoon </label>
        <button class="roomtype-viewinfo ac-btn bg-none text-darkgray" data-roomtype="honeymoon">
          <i class="fa-solid fa-reply-all"></i>
        </button>
      </div>
    </div>
    <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <div class="check-input-group">
        <input class="check-input" value="roomtype-no-specify" type="radio" name="room-type" id="roomtype-no-specify" />
        <label class="check-label" for="roomtype-no-specify">
          ไม่ระบุ
        </label>
      </div>
    </div>
  </div>
  <p class="empty-validate" id="validate-roomtype"></p>
</div>