<div class="modal fade" tabindex="-1" id="bedtype-modal-info">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-bold text-blue" id="bedtype-title"></h5>
                <button type="button" class="ac-btn ac-close-modal" data-bs-dismiss="modal">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <div class="modal-body">
                <section>
                    <div id="king-sized-info" class="bedtype-info-item">
                        ห้องขนาดใหญ่ เตียงมีขนาดใหญ่ 6x6 ฟุต แจ้งเพิ่มเตียงเสริมได้โดยจ่ายค่าธรรมเนียมเพิ่ม
                    </div>
                    <div id="queen-sized-info" class="bedtype-info-item">
                        ห้องขนาดรองลงมา เตียงมีขนาดกลาง 5x6 ฟุต แจ้งเพิ่มเตียงเสริมได้โดยจ่ายค่าธรรมเนียมเพิ่ม
                    </div>
                    <div id="single-bed-info" class="bedtype-info-item">
                        ห้องเตียงเดี่ยว รองรับผู้เข้าพัก 1 คน มีหนึ่งเตียงขนาด 3x6 ฟุต สามารถเพิ่มเตียงเสริมได้ เรียกว่า
                        Extra bed ต้องจ่ายค่าธรรมเนียมเพิ่ม ขนาดห้องโดยทั่วไปอยู่ระหว่าง 37-45 ตารางเมตร
                    </div>
                    <div id="twin-bed-info" class="bedtype-info-item">
                        ห้องทวินหรือห้องเตียงคู่ รองรับผู้เข้าพัก 1-2 คน จะมีเตียงเดี่ยวขนาด 3x6 ฟุต 2 เตียง
                        สามารถเพิ่มเตียงเสริมได้โดยจ่ายค่าธรรมเนียมเพิ่ม ขนาดห้องโดยทั่วไปอยู่ระหว่าง 32-40 ตารางเมตร
                    </div>
                    <div id="double-bed-info" class="bedtype-info-item">
                        ห้องเตียงคู่ รองรับผู้เข้าพัก 2 คน มีเตียงใหญ่ 1 เตียง ขนาด 4.5x6 ฟุต
                        สามารถแจ้งเพิ่มเตียงเสริมได้โดยจ่ายค่าธรรมเนียมเพิ่ม ขนาดห้องโดยทั่วไปอยู่ระหว่าง 40-45
                        ตารางเมตร
                    </div>
                    <div id="triple-bed-info" class="bedtype-info-item">
                        ห้องที่สามารถรองรับผู้เข้าพักได้ 3 คน มี 3 เตียงเดี่ยว หรือมีเตียงคู่ 1 เตียง และเตียงเดี่ยว 1
                        เตียง ขนาดห้องโดยทั่วไปอยู่ระหว่าง 45-65 ตารางเมตร
                    </div>
                    <div id="quad-bed-info" class="bedtype-info-item">
                        ห้องที่รองรับผู้เข้าพักได้ 4 คน อาจมี 2 เตียงหรือมากว่า ขนาดห้องโดยทั่วไปอยู่ระหว่าง 70-85
                        ตารางเมตร
                    </div>

                </section>
            </div>
            <div class="modal-footer">
                <button type="button" class="fw-bold ac-btn bg-none bg-none text-darkgray" data-bs-dismiss="modal">
                    ปิด
                </button>
            </div>
        </div>
    </div>
</div>
<style>
    .bedtype-info-item {
        display: none;
    }
</style>
<script>
    const bedtypeModalInfo = new bootstrap.Modal($('#bedtype-modal-info'))
    const bedtypeViewinfo = $('.bedtype-viewinfo')
    const bedtypeInfoItem = $('.bedtype-info-item')
    const bedtypeTitle = $('#bedtype-title')
    bedtypeViewinfo.click(function () {
        const bt = $(this).attr('data-bedtype')
        console.log(Display)
        bedtypeTitle.text(Display.resBed(bt))
        for (let i = 0; i < bedtypeInfoItem.length; i++) {
            const itemEl = $(bedtypeInfoItem[i])
            const id = itemEl.attr('id')
            if (`${bt}-info` == id) {
                itemEl.css('display', 'block')
            } else {
                itemEl.css('display', 'none')
            }
        }
        bedtypeModalInfo.show()
    })
</script>