<div class="modal fade" id="booking-report-modal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog   modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-blue" id="booking-id"></h5>
        <button type="button" class="ac-btn ac-close-modal" data-bs-dismiss="modal">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>
      <div class="modal-body">
        <table class="table">
          <tbody>
            <tr>
              <th>รหัสการจอง</th>
              <td class="text-detail"></td>
            </tr>
            <tr>
              <th>รหัสห้อง</th>
              <td class="text-detail"></td>
            </tr>
            <tr>
              <th>หมายเลขห้อง</th>
              <td class="text-detail"></td>
            </tr>
            <tr>
              <th>ชื่อ</th>
              <td class="text-detail"></td>
            </tr>
            <tr>
              <th>นามสกุล</th>
              <td class="text-detail"></td>
            </tr>
            <tr>
              <th>เบอร์ติดต่อ</th>
              <td class="text-detail"></td>
            </tr>
            <tr>
              <th>วันที่จอง</th>
              <td class="text-detail"></td>
            </tr>
            <tr>
              <th>วันเข้าพัก</th>
              <td class="text-detail"></td>
            </tr>
            <tr>
              <th>วันออก</th>
              <td class="text-detail"></td>
            </tr>
            <tr>
              <th>เวลาพัก</th>
              <td class="text-detail"></td>
            </tr>
            <tr>
              <th>จำนวนคนพัก</th>
              <td class="text-detail"></td>
            </tr>

            <tr>
              <th>ยอดรวม</th>
              <td class="text-detail"></td>
            </tr>
            <tr>
              <th>ช่องทางการชำระเงิน</th>
              <td class="text-detail"></td>
            </tr>
            <tr>
              <th>สถานะ</th>
              <td class="text-detail"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="ac-btn text-blue bg-none border-radius-7" data-bs-dismiss="modal">
          ปิด
        </button>
      </div>
    </div>
  </div>
</div>