<select class="form-select" id="bankname">
  <option value="" selected>เลือกอาคาร</option>
  <option value="bbl">ธนาคารกรุงเทพ</option>
  <option value="k-bank">ธนาคารกสิกรไทย</option>
  <option value="ktb">ธนาคารกรุงไทย</option>
  <option value="ttb">ธนาคารทหารไทยธนชาต</option>
  <option value="scb">ธนาคารไทยพาณิชย์</option>
  <option value="uob">ธนาคารยูโอบี</option>
  <option value="bay">ธนาคารกรุงศรีอยุธยา</option>
  <option value="gsb">ธนาคารออมสิน</option>
  <option value="tisco">ธนาคารทิสโก้</option>
  <option value="cimb">ธนาคารซีไอเอ็มบี ไทย</option>
</select>
<p class="empty-validate" id="validate-bankname"></p>
<div class="my-3">
  <label class="form-label">สาขา</label>
  <input type="text" class="form-control txt-none-outline" id="bank-branch" placeholder="ป้อนชื่อสาขา">
</div>
<p class="empty-validate" id="validate-bankbranch"></p>
<div class="my-3">
  <label class="form-label">หมายเลขบัญชี</label>
  <input type="text" class="form-control txt-none-outline" id="bank-number" placeholder="ป้อนหมายเลขบัญชี">
</div>
<p class="empty-validate" id="validate-banknumber"></p>
<div class="my-3">
  <label class="form-label">ชื่อบัญชี</label>
  <input type="text" class="form-control txt-none-outline" id="account-name" placeholder="ป้อนชื่อบัญชี">
</div>
<p class="empty-validate" id="validate-accountname"></p>