<link rel="stylesheet" href="/css/user_admin.css">
<div class="container">
  <h4 class="fw-bold">สร้างบัญชีผู้ใช้งานระบบ</h4>
  <div class="wrapper-content-page">
    <div class="row">
      <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div class="my-3">
          <label class="fw-bold form-label">ชื่อ</label>
          <div class="input-group">
            <span class="input-group-text">
              <i class="fa-solid fa-id-card"></i>
            </span>
            <input type="email" class="form-control" id="fname" placeholder="กรุณาป้อนชื่อ">
          </div>

        </div>
        <p class="empty-validate" id="validate-fname"></p>
      </div>
      <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div class="my-3">
          <label class="fw-bold form-label">นามสกุล</label>
          <div class="input-group">
            <span class="input-group-text" id="input-group-text-lname">
              <i class="fa-solid fa-id-card"></i>
            </span>
            <input type="email" class="form-control" id="lname" placeholder="กรุณาป้อนนามสกุล">
          </div>
        </div>
        <p class="empty-validate" id="validate-lname"></p>
      </div>
      <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div class="my-3">
          <label class="fw-bold form-label">ผู้ใช้งานระบบ</label>
          <div class="input-group">
            <span class="input-group-text">
              <i class="fa-solid fa-chalkboard-user"></i>
            </span>
            <input type="text" class="form-control" id="username" placeholder="username">
          </div>

        </div>
        <p class="empty-validate" id="validate-username"></p>
      </div>
      <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div class="my-3">
          <label class="fw-bold form-label">รหัสผ่าน</label>
          <div class="input-group">
            <span class="input-group-text">
              <i class="fa-solid fa-key"></i>
            </span>
            <input type="email" class="form-control" id="password" placeholder="กรุณาป้อนรหัสผ่าน">
          </div>
        </div>
        <p class="empty-validate" id="validate-password"></p>
      </div>
    </div>
  </div>
  <div class="wrapper-content-page">
    <h5 class="fw-bold form-label">ระดับการเข้าถึง</h5>
    <div class="row p-2 my-2">
      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <div class="form-check" id="form-check-genaral">
          <input class="check-input" type="radio" name="private-level" id="genaral" value="genaral">
          <label class="check-label" for="genaral">
            ทั่วไป
          </label>
        </div>
      </div>
      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <div class="form-check" id="form-check-manager">
          <input class="check-input" type="radio" name="private-level" id="manager" value="manager">
          <label class="check-label" for="manager">
            ผู้จัดการ
          </label>
        </div>
      </div>
      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <div class="form-check" id="form-check-admin">
          <input class="check-input" type="radio" name="private-level" id="admin-p" value="admin-p">
          <label class="check-label" for="admin-p">
            ผู้ดูแลระบบ
          </label>
        </div>
      </div>
      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <div class="form-check" id="form-check-cashier">
          <input class="check-input" type="radio" name="private-level" id="cashier" value="cashier">
          <label class="check-label" for="cashier">
            แคชเชียร์
          </label>
        </div>
      </div>
    </div>
    <p class="empty-validate" id="validate-private-level"></p>
  </div>
  <div class="wrapper-content-page">
    <label for="profile" class="fw-bold label-upload bg-blue " id="label-profile">
      <i class="fa-solid fa-photo-film"></i>
      เลือกรูปโปรไฟล์
      <input type="file" id="profile" accept="image/*">
    </label>
    <div class="my-2" id="profile-preview"></div>
    <p class="empty-validate" id="validate-profile"></p>
    <button class="fw-bold ac-btn bg-darkgray border-radius-7" id="user-admin-submit">
      <i class="fa-solid fa-plus"></i>
      บันทึก
    </button>
  </div>

</div>
<script>
  $('#user-admin-submit').click(function() {
    const adminForm = [{
        'name': 'fname',
        'formtype': 'text',
        'input': $('#fname'),
        'validate': $('#validate-fname'),
        'msg': 'กรุณาป้อนชื่อ'
      },
      {
        'name': 'lname',
        'formtype': 'text',
        'input': $('#lname'),
        'validate': $('#validate-lname'),
        'msg': 'กรุณาป้อนนามสกุล'
      },
      {
        'name': 'username',
        'formtype': 'text',
        'input': $('#username'),
        'validate': $('#validate-username'),
        'msg': 'กรุณาป้อนชื่อผู้ใช้'
      },
      {
        'name': 'password',
        'formtype': 'text',
        'input': $('#password'),
        'validate': $('#validate-password'),
        'msg': 'กรุณาป้อนรหัสผ่าน'
      }, {
        'name': 'private-level',
        'formtype': 'radio',
        'input': $('[name="private-level"]'),
        'validate': $('#validate-private-level'),
        'msg': 'กรุณาเลือกระดับการเข้าถึง'
      }, {
        'name': 'profile',
        'formtype': 'file',
        'input': $('#profile'),
        'validate': $('#validate-profile'),
        'msg': 'กรุณาเลือกรูปโปรไฟล์'
      }
    ]
    let emptyCount = 0
    adminForm.forEach((fd) => {
      const {
        formtype,
        input,
        validate,
        msg
      } = fd
      if (formtype == 'text') {
        const v = input.val().trim()
        if (v == '') {
          validateformEmpty(true, validate, msg)
          emptyCount++
        } else {
          validateformEmpty(false, validate, msg)

        }
      }

      if (formtype == 'radio') {
        const check = input.filter(':checked').length
        if (check == 0) {
          validateformEmpty(true, validate, msg)
          emptyCount++
        } else {
          validateformEmpty(false, validate, msg)

        }
      }

      if (formtype == 'file') {
        const file = input[0].files.length
        if (file == 0) {
          validateformEmpty(true, validate, msg)
          emptyCount++
        } else {
          validateformEmpty(false, validate, msg)

        }
      }
    })

    if (emptyCount == 0) {
      const formData = new FormData()
      formData.append('fname', $('#fname').val())
      formData.append('lname', $('#lname').val())
      formData.append('username', $('#username').val())
      formData.append('password', $('#password').val())
      formData.append('private_level', $('[name="private-level"]').filter(':checked').val())
      formData.append('profile', $('#profile')[0].files[0])
      axios.post('/api/add-admin', formData, {
          headers: {
            'Content-Type': 'multipart/form-data'
          }
        }).then((res) => {
          const result = res.data.result
          if (result) {
            querySuccess('เพิ่มสำเร็จ', 1000)
          }

          if (!result) {
            queryFail('เพิ่มพนักงาน', 'ไม่สามารถเพิ่มได้', res.data.err)
          }
        })
        .catch((err) => {
          statusErr()
        })
    }
  })
  $('#profile').change(function() {
    const file = $(this)[0].files[0]
    if (file != undefined) {
      const img = `<img src="${URL.createObjectURL(file)}">`
      $('#profile-preview').html(img)
    } else {
      $('#profile-preview').children().remove()
    }
  })
</script>