<style>
  body {
    margin: 0;
    padding: 2rem;
  }
</style>
<div style="padding: 1rem;margin: 0;">
  <h1>Not Found</h1>
  <h5><%= msg %></h5>
  <p style="color: #FF0033;font-weight: bolder;"><%= err_no  %></p>
</div>