.navbar {
  background-color: #000066 !important;
  padding: 0px 14px !important;
}

.navbar-brand img {
  width: 50px !important;
  height: 50px;
  object-fit: contain !important;
}

.navbar-brand {
  color: white;
  font-weight: bold;
}

.navbar-toggler {
  border: 0 !important;
  box-shadow: none !important;
  border: 0px !important;
}

.nav-link {
  font-weight: bolder;
  border-radius: 18px;
  padding: 4px 12px !important;
  margin: 0 7px;
}

.nav-link:hover {
  color: white;
  background-color: #000066;
}

span.nav-link:hover {
  background: none !important;
  color: #000066 !important;
}

@media only screen and (max-width:996px) {
  .nav-link {
    border-radius: 0px;
  }

  .nav-link:hover {
    background: none;
    color: white !important;
  }
}