<div id="special-options">
  <input type="hidden" value="<%= entries[0].special_options %>" id="specialoptions-value">
  <h6 class="fw-bold form-label"> สิ่งอำนวยความสะดวก และของใช้เพิ่มเติม</h6>
  <div class="row">
    <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <div class="check-input-group inline-flex">
        <input class="check-input" value="non-special-options" id="non-special-options" type="checkbox" name="special-options" />
        <label class="check-label" for="non-special-options">
          ไม่มี
        </label>
      </div>
    </div>
    <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <div class="check-input-group inline-flex">
        <input class="check-input" value="have-special-options" id="have-special-options" type="checkbox" name="special-options" />
        <label class="check-label" for="have-special-options">
          ระบุ
        </label>
      </div>
    </div>
    <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <div class="check-input-group inline-flex">
        <input class="check-input" value="fridge" id=fridge" type="checkbox" name="special-options">
        <label class="check-label" for="fridge"> ตู้เย็น </label>
      </div>
    </div>
    <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <div class="check-input-group inline-flex">
        <input class="check-input" value="fan" id="fan" type="checkbox" name="special-options" />
        <label class="check-label" for="fan"> พัดลม </label>
      </div>
    </div>
    <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <div class="check-input-group inline-flex">
        <input class="check-input" value="air" id="air" type="checkbox" name="special-options" />
        <label class="check-label" for="air"> แอร์ </label>
      </div>
    </div>
    <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <div class="check-input-group inline-flex">
        <input class="check-input" value="microwave" id="microwave" type="checkbox" name="special-options" />
        <label class="check-label" for="microwave"> ไมโครเวฟ </label>
      </div>
    </div>
    <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <div class="check-input-group inline-flex">
        <input class="check-input" value="tv" id="tv" type="checkbox" name="special-options" />
        <label class="check-label" for="tv"> TV </label>
      </div>
    </div>
    <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <div class="check-input-group inline-flex">
        <input class="check-input" value="washing-machine" id="washing-machine" type="checkbox" name="special-options" />
        <label class="check-label" for="washing-machine"> เครื่องซักผ้า </label>
      </div>
    </div>
    <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <div class="check-input-group inline-flex">
        <input class="check-input" value="electric-pan" id="electric-pan" type="checkbox" name="special-options" />
        <label class="check-label" for="electric-pan"> กระทะไฟฟ้า </label>
      </div>
    </div>
    <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <div class="check-input-group inline-flex">
        <input class="check-input" value="induction-stove" id="induction-stove" type="checkbox" name="special-options" />
        <label class="check-label" for="induction-stove"> เตาแม่เหล็กไฟฟ้า </label>
      </div>
    </div>
    <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">

      <div class="check-input-group inline-flex">
        <input class="check-input" value="vacuum-cleaner" id="vacuum-cleaner" type="checkbox" name="special-options" />
        <label class="check-label" for="vacuum-cleaner"> เครื่องดูดฝุ่น </label>
      </div>
    </div>
    <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <div class="check-input-group inline-flex">
        <input class="check-input" value="electric-kettle" id="electric-kettle" type="checkbox" name="special-options" />
        <label class="check-label" for="electric-kettle"> กาต้มน้ำไฟฟ้า </label>
      </div>
    </div>
    <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <div class="check-input-group inline-flex">
        <input class="check-input" value="water-heater" id="water-heater" type="checkbox" name="special-options" />
        <label class="check-label" for="water-heater"> เครื่องทำน้ำอุ่น </label>
      </div>
    </div>
    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <div class="check-input-group inline-flex">
        <input class="check-input" value="bathtub" id="bathtub" type="checkbox" name="special-options" />
        <label class="check-label" for="bathtub"> อ่างอาบน้ำ </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-8 col-sm-12 col-xs-12">
      <div class="my-2">
        <h6 class="form-label">เพิ่มจำนวน</h6>
        <div class="input-group">
          <input type="number" min="1" value="1" class="form-control" id="specialOptionCount">
          <button class="ac-btn text-darkgray bg-none" id="add-special-opt">
            <i class="fa-solid fa-circle-plus"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div id="n-special-options" class="row"></div>
  <script>
    $('#add-special-opt').click(function() {
      const specialOptionInput = $('#specialOptionCount')
      const c = Number.parseInt(specialOptionInput.val())

      let specialOptionEl = ''
      if (!isNaN(c)) {
        for (let i = 0; i < c; i++) {
          specialOptionEl += `
              <div class="row">
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <div class="input-group my-1">
                    <input type="text" class="form-control" name="special-options-text" placeholder="ป้อนข้อมูลเพิ่ม">
                    <button class="ac-btn text-darkgray bg-none" onclick="deleteSpecialText(event)">
                      <i class="fa-solid fa-trash-can"></i>
                    </button>
                  </div>
                </div>
              </div>
                `
        }
        $('#n-special-options').append(specialOptionEl)
        specialOptionInput.val('1')
      }
    })

    $('[name="special-options"]').change(function() {
      const specialOptions = $('[name="special-options"]')
      const opt = $(this).val().trim();
      const specialOptionsText = $('[name="special-options-text"]')
      if (opt == "non-special-options") {
        $('#add-special-opt').prop('disabled', true)
        $('#specialOptionCount').prop('disabled', true)
        for (let i = 0; i < specialOptions.length; i++) {
          const checkItem = $(specialOptions[i]);
          if (checkItem.val().trim() != "non-special-options") {
            $(checkItem).prop("checked", false);
          }
        }

        if (specialOptionsText.length > 0) {
          const msgDeleteSp = `สิ่งอำนวยความสะดวกเพิ่มเติมที่คุณเพิ่มจะไม่ถูกลบออกไป
           แต่จะถูกปิดการใช้งานเอาไว้และจะไม่บันทึกลงระบบ หากคุณต้องการใช้งาน กรุณาเลือกระบุก่อนกดบันทึก`

          queryFail('ลบข้อมูลสิ่งอำนวยความสะดวกเพิ่มเติม', msgDeleteSp, '')
          $.each(specialOptionsText, (index, element) => {
            $(element).prop('disabled', true)
          })
        }

      } else {
        $('#add-special-opt').prop('disabled', false)
        $('#specialOptionCount').prop('disabled', false)
        const index = $.map(specialOptions, (e) => $(e).val()).indexOf("non-special-options");
        specialOptions.filter(`:eq(${index})`).prop('checked', false)
        $.each(specialOptionsText, (index, element) => {
          $(element).prop('disabled', false)
        })
      }
    })

    function deleteSpecialText(event) {
      const target = $(event.target)
      const tag = target.prop('tagName') == 'I' ?
        target.parent().parent().remove() :
        target.parent().remove()
      const specialText = $('[name="special-options-text"]')
      const opt = $('[name="special-options"]')
      const optCheck = opt.filter(':checked').filter((index, el) => {
        if ($(el).val() != 'have-special-options') {
          return el
        }
      })

      if (specialText.length == 0) {
        if (optCheck.length == 0) {
          $.each(opt, (index, el) => {
            if ($(el).val() == 'non-special-options') {
              $(el).prop('checked', true)
            }
            if ($(el).val() != 'non-special-options') {
              $(el).prop('checked', false)
            }
          })
        }
      }
    }
  </script>
  <p class="empty-validate" id="validate-options"></p>
</div>